# Let's load dataset

In [629]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import  LinearRegression
from sklearn.linear_model import  Lasso
from sklearn.preprocessing import MinMaxScaler
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense
# from tensorflow.python.keras.wrappers.scikit_learn import KerasRegressor

# PHASE 1: DATA ANALYSIS

In [455]:
df = pd.read_csv('imdb_rating.csv')

## let's look at the dataset

In [688]:
df.head()

,Name of the movie,Link,Year released,IMDB rating,Number of reviewers,Genre 4,Release date,story summary,Director Name,Writer 1,...,len_3h,len_5h,censor_(Banned),censor_A,censor_G,censor_PG,censor_PG-13,censor_R,censor_U,censor_UA
0,The Shawshank Redemption,https://www.imdb.com/title/tt0111161/?pf_rd_m=...,1994,9.3,2041643,NaN,14October1994(USA),Two imprisoned men bond over a number of years...,Frank Darabont,"Stephen King (short story ""Rita Hayworth and S...",...,0,0,0,1,0,0,0,0,0,0
1,The Godfather,https://www.imdb.com/title/tt0068646/?pf_rd_m=...,1972,9.2,1400266,NaN,24March1972(USA),The aging patriarch of an organized crime dyna...,Francis Ford Coppola,Mario Puzo (screenplay by),...,0,0,0,1,0,0,0,0,0,0
2,The Godfather: Part II,https://www.imdb.com/title/tt0071562/?pf_rd_m=...,1974,9.0,970681,NaN,20December1974(USA),The early life and career of Vito Corleone in ...,Francis Ford Coppola,Francis Ford Coppola (screenplay by),...,1,0,0,0,0,0,0,0,0,0
3,The Dark Knight,https://www.imdb.com/title/tt0468569/?pf_rd_m=...,2008,9.0,2009174,NaN,18July2008(India),When the menace known as the Joker emerges fro...,Christopher Nolan,Jonathan Nolan (screenplay),...,0,0,0,0,0,0,0,0,0,1
4,12 Angry Men,https://www.imdb.com/title/tt0050083/?pf_rd_m=...,1957,8.9,574770,NaN,10April1957(USA),A jury holdout attempts to prevent a miscarria...,Sidney Lumet,Reginald Rose (story),...,0,0,0,0,0,0,0,0,0,0

## let's see the columns

In [459]:
df.columns

Index(['Name of the movie', 'Link', 'Year released', 'IMDB rating',
       'Number of reviewers', 'Censor board rating', 'Length of the movie',
       'Genre 1', 'Genre 2', 'Genre 3', 'Genre 4', 'Release date',
       'story summary', 'Director Name', 'Writer 1', 'Writer 2', 'Writer 3',
       'Star 1', 'Star 2', 'Star 3', 'Star 4', 'Star 5', 'Plot Keywords list',
       'Budget', 'Gross USA', 'Cumulative worlwide Gross',
       'Production company'],
      dtype='object')

# from first few data, we observe few genre columns and star columns are null. Let's check null values

In [461]:
df.isna().sum()

Name of the movie              0
Link                           0
Year released                  0
IMDB rating                    0
Number of reviewers            0
Censor board rating           93
Length of the movie            0
Genre 1                        0
Genre 2                       27
Genre 3                      109
Genre 4                      250
Release date                   0
story summary                  0
Director Name                  0
Writer 1                       0
Writer 2                      55
Writer 3                     250
Star 1                         0
Star 2                         0
Star 3                         0
Star 4                       250
Star 5                       250
Plot Keywords list             0
Budget                        27
Gross USA                     29
Cumulative worlwide Gross     97
Production company             0
dtype: int64

# we were right, genre4, writer3, star4,star5 are nothing but null values

# Let's see all datatypes

In [464]:
df.dtypes

Name of the movie             object
Link                          object
Year released                  int64
IMDB rating                  float64
Number of reviewers           object
Censor board rating           object
Length of the movie           object
Genre 1                       object
Genre 2                       object
Genre 3                       object
Genre 4                      float64
Release date                  object
story summary                 object
Director Name                 object
Writer 1                      object
Writer 2                      object
Writer 3                     float64
Star 1                        object
Star 2                        object
Star 3                        object
Star 4                       float64
Star 5                       float64
Plot Keywords list            object
Budget                        object
Gross USA                     object
Cumulative worlwide Gross     object
Production company            object
dtype: object

# Most of the columns are object type, we will see how we can convert into respective types

# let's see what do we have in genre1,genre2,genre3. 
## I guess  that few of them may have some genre common. Let's see

In [467]:
df['Genre 1'].value_counts()

Drama        74
Crime        37
Action       32
Adventure    28
Comedy       26
Animation    20
Biography    20
Mystery       4
Western       3
Horror        3
Film-Noir     2
Sci-Fi        1
Name: Genre 1, dtype: int64

In [468]:
df['Genre 2'].value_counts()

Drama        87
Adventure    28
Romance      15
Mystery      14
Crime        12
Thriller     12
War           9
Comedy        9
Sci-Fi        9
Family        8
Biography     4
Fantasy       3
Sport         3
Action        2
Western       2
History       2
Music         1
Horror        1
Film-Noir     1
Musical       1
Name: Genre 2, dtype: int64

In [469]:
df['Genre 3'].value_counts()

Thriller     29
Fantasy      19
Drama        18
History      14
Sci-Fi       12
Comedy        9
Romance       9
War           8
Mystery       7
Family        5
Crime         2
Adventure     2
Music         2
Western       1
Film-Noir     1
Sport         1
Horror        1
Musical       1
Name: Genre 3, dtype: int64

# We observe that few genre like 'Drama', 'Thriller','Crime', etc. are present in two or more columns, we could use one-hot encoding(as seen later) to bring information out of it

# Let's see what writer's columns consist of

In [472]:
df['Writer 1'].value_counts()

Stanley Kubrick (screenplay)                                           4
Stephen King (novel)                                                   3
harles Chapli                                                          3
J.R.R. Tolkien (novel)                                                 3
Jonathan Nolan (screenplay)                                            3
ayao Miyazak                                                           3
Federico Fellini (story)                                               2
Pete Docter (original story by)                                        2
Quentin Tarantino                                                      2
Ethan Coen                                                             2
uentin Tarantin                                                        2
ngmar Bergma                                                           2
Andrew Stanton (original story by)                                     2
Akira Kurosawa (screenplay)                                            2
Billy Wilder (screenplay)                                              2
James Cameron                                                          2
Lawrence Kasdan (screenplay by)                                        2
harles Chaplin (as Charlie Chaplin                                     2
Graham Chapman                                                         2
Nicholas Pileggi (book)                                                2
uy Ritchi                                                              2
Lew Wallace (novel) (as General Lew Wallace)                           1
Jonathan Nolan                                                         1
Christopher Markus (screenplay by)                                     1
Tobias Lindholm (screenplay)                                           1
Lawrence Hauben (screenplay)                                           1
hristopher Nola                                                        1
Kôgo Noda (scenario)                                                   1
Bill Lancaster (screenplay)                                            1
om Schulma                                                             1
                                                                      ..
Jake LaMotta (based on the book by) (as Jake La Motta)                 1
ichael Man                                                             1
Stephen P. Lindsey (screenplay)                                        1
Olivier Nakache                                                        1
Dan O'Bannon (story)                                                   1
avid McKenn                                                            1
Thea von Harbou (screenplay)                                           1
Frederick Knott (screen play)                                          1
James Cameron (story by)                                               1
Stephen King (short story "Rita Hayworth and Shawshank Redemption")    1
Pierre Boulle (novel)                                                  1
Hayao Miyazaki (comic)                                                 1
illiam Goldma                                                          1
Budd Schulberg (screenplay)                                            1
Lilly Wachowski (screenplay) (as The Wachowski Brothers)               1
Jean C. Havez (story) (as Jean Havez)                                  1
Arijit Biswas                                                          1
ngmar Bergman (story and screenplay                                    1
Gavin O'Connor (screenplay)                                            1
oseph L. Mankiewicz (written for the screen by                         1
Sergio Leone (scenario)                                                1
Agatha Christie (in Agatha Christie's international stage success)     1
liver Ston                                                             1
Terence Winter (screenplay)                                            1
Carl Mayer (scenario)                                                  1
Julius J. Epstein (screenplay)                                         1
Paulo Lins (novel)                                                     1
Sergio Donati (screenplay by)                                          1
John Huston (screen play by)                                           1
aul Schrade                                                            1
Name: Writer 1, Length: 222, dtype: int64

In [473]:
df['Writer 2'].value_counts()

 Christopher Nolan (screenplay)                                                        3
 Fran Walsh (screenplay)                                                               3
 Akira Kurosawa (screenplay)                                                           2
 Joel Coe                                                                              2
 Ennio Flaiano (story)                                                                 2
 Nicholas Pileggi (screenplay)                                                         2
 John Cleese                                                                           2
 Frank Darabont (screenplay                                                            2
 Pete Docter (original story by)                                                       2
 Hideo Oguni (screenplay)                                                              2
 Ales Adamovich (screenplay) (as A. Adamovich)                                         1
 Sergio Leone (screenplay by)                                                          1
 Peter Shaffer (original screenplay                                                    1
 Sam Shepard                                                                           1
 Reginald Rose (screenplay                                                             1
 Ronnie Del Carmen (original story by)                                                 1
 Lana Wachowski (as The Wachowski Brothers                                             1
 Eric Roth (screenplay                                                                 1
 Giuseppe Tornatore (screenplay)                                                       1
 Wes Anderson (screenplay)                                                             1
 Francis Ford Coppola (screenplay by)                                                  1
 Ben Afflec                                                                            1
 Joachim Fest (book)                                                                   1
 Raymond Chandler (screenplay)                                                         1
 Scott Frank (screenplay by)                                                           1
 Gale Anne Hurd                                                                        1
 George Lucas (screenplay by)                                                          1
 Cornell Woolrich (based on the short story by                                         1
 Hubert Selby Jr. (screenplay)                                                         1
 Calder Willingham (screenplay)                                                        1
                                                                                      ..
 Jill Culton (original story by)                                                       1
 Frederick Knott (adapted from his play                                                1
 Harold Ramis (screenplay)                                                             1
 Samuel A. Taylor (screenplay by) (as Samuel Taylor)                                   1
 Gillian Flynn (novel                                                                  1
 Neil Gaiman (adapted by: English version                                              1
 Adolph Green (story by                                                                1
 Isao Takahat                                                                          1
 Boris Strugatskiy (novel)                                                             1
 David Giler (story by)                                                                1
 Billy Wilder (screen play)                                                            1
 Juan José Campanella (screenplay)                                                     1
 Michael Herr (screenplay by)                                                          1
 Robert E. Sherwood (screen play)                                                      1
 Ted Tally (screenplay                                                                 1
 Budd Schulberg (based upon an original story by)                                      1
 Roberto Benigni (story and screenplay by                                              1
 Terry Georg                                                                           1
 Andrew Knight (screenplay by                                                          1
 Kathryn Stockett (novel                                                               1
 Upton Sinclair (novel                                                                 1
 Henri-Georges Clouzot (adaptation) (as H.G. Clouzot)                                  1
 David Webb Peoples (screenplay) (as David Peoples)                                    1
 Thea von Harbou (novel                                                                1
 Anthony Burgess (novel                                                                1
 Sergio Leone (story)                                                                  1
 George Lucas (story)                                                                  1
 Deric Washburn (story)                                                                1
 Hermann Sudermann (from an original theme by)                                         1
 Philippe Pozzo di Borgo (adapted from his autobiographical tale Le Second Souffle)    1
Name: Writer 2, Length: 183, dtype: int64

In [474]:
df['Writer 3'].value_counts()
#Writer 3 has null values

Series([], Name: Writer 3, dtype: int64)

## Woah, that's lots of unique writers. We won't use this as features for our model. However, we can in future extract top 10-20 writers and have prediction based on that

# Let's see stars columns

In [477]:
df['Star 1'].value_counts()

Robert De Niro           6
Charles Chaplin          5
Tom Hanks                5
Leonardo DiCaprio        5
Clint Eastwood           4
Christian Bale           4
Toshirô Mifune           4
Aamir Khan               4
James Stewart            4
Harrison Ford            3
Henry Fonda              3
Mark Hamill              3
Elijah Wood              3
Jack Nicholson           3
Humphrey Bogart          3
Paul Newman              3
Al Pacino                3
Kevin Spacey             3
Ryan O'Neal              2
Robin Williams           2
Brad Pitt                2
Marlon Brando            2
Buster Keaton            2
Orson Welles             2
Russell Crowe            2
Arnold Schwarzenegger    2
Tom Hardy                2
Daniel Day-Lewis         2
Bruce Willis             2
Jim Carrey               2
                        ..
Çetin Tekindor           1
Tatsuya Nakadai          1
Hugo Weaving             1
Sumi Shimamoto           1
Martin Sheen             1
Marcello Mastroianni     1
Toni Collette            1
Morgan Freeman           1
Malcolm McDowell         1
Michael J. Fox           1
Mads Mikkelsen           1
Spencer Tracy            1
John Travolta            1
Jean-Pierre Léaud        1
Jay Baruchel             1
Ben Kingsley             1
Sener Sen                1
Charlton Heston          1
Andrew Garfield          1
Mark Ruffalo             1
Harvey Keitel            1
Emma Stone               1
Lamberto Maggiorani      1
Jake Gyllenhaal          1
Keir Dullea              1
Chiwetel Ejiofor         1
Emile Hirsch             1
Steve McQueen            1
Johnny Depp              1
Jason Statham            1
Name: Star 1, Length: 182, dtype: int64

In [478]:
df['Star 2'].value_counts()

 Harrison Ford             3
 Matt Damon                3
 Chris Hemsworth           2
 John Goodman              2
 Ed Harris                 2
 Alec Guinness             2
 Linda Hamilton            2
 Tim Allen                 2
 Julie Delpy               2
 John Cleese               2
 Grace Kelly               2
 Robert De Niro            2
 Ian McKellen              2
 Brad Pitt                 2
 Paulette Goddard          2
 Joseph Cotten             2
 Gael García Bernal        2
 Robert Redford            2
 J.K. Simmons              1
 Marion Mack               1
 Edward Furlong            1
 Andie MacDowell           1
 Joaquin Phoenix           1
 Enzo Staiola              1
 Takashi Shimura           1
 Paul Dano                 1
 Eugene Silvain            1
 Leandro Firmino           1
 Faye Dunaway              1
 Marlon Brando             1
                          ..
 Lee Van Cleef             1
 Shelley Duvall            1
 Michael Clarke Duncan     1
 Wilford Brimley           1
 Morgan Freeman            1
 Sean Connery              1
 Mack Swain                1
 Soledad Villamil          1
 Ray Liotta                1
 Gary Oldman               1
 Omar Sy                   1
 Richa Chadha              1
 Gerard Butler             1
 John Gielgud              1
 Anne Hathaway             1
 Tom Hulce                 1
 Thomas Bo Larsen          1
 Ariadna Gil               1
 Javier Bardem             1
 Tom Skerritt              1
 Jared Leto                1
 Louise Fletcher           1
 Uma Thurman               1
 Donald O'Connor           1
 River Phoenix             1
 Alfred Abel               1
 Amir Farrokh Hashemian    1
 Lucy Boynton              1
 Marisa Berenson           1
 John Hurt                 1
Name: Star 2, Length: 230, dtype: int64

## Okay, again we have too many stars in our dataset. Maybe few of them are common but again that's a lots. We leave this columns same as writer and may look at top 10-20 stars for prediction

## Let's look at Censor board rating

In [481]:
df['Censor board rating'].value_counts()

R           49
A           35
PG          23
UA          21
PG-13       14
U           11
G            3
(Banned)     1
Name: Censor board rating, dtype: int64

## Great, we have 7 different censor board rating and 1 banned movie. We'll take into account all these ratings for prediction

In [483]:
# Let's look what story summary has
df['story summary'][0]

'Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.'

In [484]:
df['story summary'][1]

'The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.'

## So we see that story summary gives a jist of movie. We could happily use NLP to rate the story out of 5 or something and hope for better prediction

In [486]:
df.columns

Index(['Name of the movie', 'Link', 'Year released', 'IMDB rating',
       'Number of reviewers', 'Censor board rating', 'Length of the movie',
       'Genre 1', 'Genre 2', 'Genre 3', 'Genre 4', 'Release date',
       'story summary', 'Director Name', 'Writer 1', 'Writer 2', 'Writer 3',
       'Star 1', 'Star 2', 'Star 3', 'Star 4', 'Star 5', 'Plot Keywords list',
       'Budget', 'Gross USA', 'Cumulative worlwide Gross',
       'Production company'],
      dtype='object')

In [487]:
df['Plot Keywords list'][0:5]

0    wrongful imprisonment| escape from prison| bas...
1    mafia| crime family| patriarch| organized crim...
2    revenge| corrupt politician| bloody body of ch...
3    dc comics| moral dilemma| psychopath| clown| s...
4    jury| dialogue driven| courtroom| trial| preju...
Name: Plot Keywords list, dtype: object

## Plot keywords again have many keywords, we can use advanced concepts to gain knowledge from these keywords. Maybe we can extract few important keywords and use it in our prediction

## Ok, we had too many information in terms of keywords, writers, stars, story summary, etc.
## Let's check next 3 columns, budget, Gross USA, Cumulative worldwide gross. I hope we get proper integers in these columns :p

In [490]:
df['Budget'].head()

0     $25,000,000 (estimated)
1      $6,000,000 (estimated)
2     $13,000,000 (estimated)
3    $185,000,000 (estimated)
4        $350,000 (estimated)
Name: Budget, dtype: object

In [491]:
df['Gross USA'].head()

0                $28,341,469
1     $134,966,411,11May1997
2                $57,300,000
3    $534,858,444,19July2012
4                 $4,360,000
Name: Gross USA, dtype: object

In [492]:
df['Cumulative worlwide Gross'].head()

0                     $58,500,000
1                    $245,066,411
2                             NaN
3    $1,004,558,444, 19 July 2012
4                             NaN
Name: Cumulative worlwide Gross, dtype: object

In [493]:
df['Budget'].isna().sum()

27

In [494]:
df['Gross USA'].isna().sum()

29

In [495]:
df['Cumulative worlwide Gross'].isna().sum()

97

## Observation: Ok, we need a lots of cleaning in these columns. We see '$',',' and date formats in these columns. We need to clean these unwanted information and extract only the value in integer format

## let's look at number of reviewers, it doesn't have null. But let's see what does it holds

In [498]:
df['Number of reviewers'].head()

0    2,041,643
1    1,400,266
2      970,681
3    2,009,174
4      574,770
Name: Number of reviewers, dtype: object

## OK, so it simply tells us how many people reviewed the movie. Which of course could be an important factor

In [500]:
df['Length of the movie'].head()

0    2h22min
1    2h55min
2    3h22min
3    2h32min
4    1h36min
Name: Length of the movie, dtype: object

In [501]:
min(df['Length of the movie'])

'1h20min'

In [502]:
max(df['Length of the movie'])

'5h21min'

## We could divide lenght of the movie based on number of hours, each with an interval of 1 hour

## So we are done with data analysis, and we've come into conclusion about the columns we could use for prediction. Obviously we need to clean these data before proceding to model

In [505]:
# Important features are [ 'Year released', 'IMDB rating',
#       'Number of reviewers', 'Censor board rating', 'Length of the movie',
#       'Genre 1', 'Genre 2', 'Genre 3', 'Writer 1', 'Writer 2',
#       'Star 1', 'Star 2', 'Star 3',
#       'Budget', 'Gross USA', 'Cumulative worlwide Gross']

# PHASE 2: CLEANING DATASET
## LET'S START CLEANING

In [507]:
# Let's just store a copy of dataset. Just in case we need the original dataset
df1= df

In [508]:
df = pd.get_dummies(df, columns=["Genre 1", "Genre 2","Genre 3"], prefix=["gen1","gen2","gen3"])

In [509]:
df.columns

Index(['Name of the movie', 'Link', 'Year released', 'IMDB rating',
       'Number of reviewers', 'Censor board rating', 'Length of the movie',
       'Genre 4', 'Release date', 'story summary', 'Director Name', 'Writer 1',
       'Writer 2', 'Writer 3', 'Star 1', 'Star 2', 'Star 3', 'Star 4',
       'Star 5', 'Plot Keywords list', 'Budget', 'Gross USA',
       'Cumulative worlwide Gross', 'Production company', 'gen1_Action',
       'gen1_Adventure', 'gen1_Animation', 'gen1_Biography', 'gen1_Comedy',
       'gen1_Crime', 'gen1_Drama', 'gen1_Film-Noir', 'gen1_Horror',
       'gen1_Mystery', 'gen1_Sci-Fi', 'gen1_Western', 'gen2_Action',
       'gen2_Adventure', 'gen2_Biography', 'gen2_Comedy', 'gen2_Crime',
       'gen2_Drama', 'gen2_Family', 'gen2_Fantasy', 'gen2_Film-Noir',
       'gen2_History', 'gen2_Horror', 'gen2_Music', 'gen2_Musical',
       'gen2_Mystery', 'gen2_Romance', 'gen2_Sci-Fi', 'gen2_Sport',
       'gen2_Thriller', 'gen2_War', 'gen2_Western', 'gen3_Adventure',
       'gen3_Comedy', 'gen3_Crime', 'gen3_Drama', 'gen3_Family',
       'gen3_Fantasy', 'gen3_Film-Noir', 'gen3_History', 'gen3_Horror',
       'gen3_Music', 'gen3_Musical', 'gen3_Mystery', 'gen3_Romance',
       'gen3_Sci-Fi', 'gen3_Sport', 'gen3_Thriller', 'gen3_War',
       'gen3_Western'],
      dtype='object')

### I performed one-hot-encoding to generate unique genre. 
### But observe that genre like drama is present as "gen1_Drama","gen2_Drama","gen3_Drama". Let;s remove this redundancy.

In [511]:
# Unique genre among all 3
unique_genre = set(df1['Genre 1']).union(set(df1['Genre 2'])).union(set(df1['Genre 3']))

In [512]:
unique_genre

{'Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Thriller',
 'War',
 'Western',
 nan}

In [513]:
# converted to list, because we need it for iterating as seen in next box
unique_genre1 = list(unique_genre)

## below algorithm removes redundancy and gives us a smooth genre columns

In [515]:
for i in unique_genre1:
    name1 = 'gen1_'+str(i)
    name2 = 'gen2_'+str(i)
    name3 = 'gen3_'+str(i)
    
    if(name1 in df):
        if(('new_'+str(i)) in df):
            df['new_'+i] = df['new_'+i]+ df[name1]
            df.drop(name1,axis=1,inplace=True)
        else:
            df['new_'+i] = df[name1]
            df.drop(name1,axis=1,inplace=True)
    if(name2 in df):
        if(('new_'+str(i)) in df):
            df['new_'+i] = df['new_'+i] + df[name2]
            df.drop(name2,axis=1,inplace=True)
        else:
            df['new_'+i] = df[name2]
            df.drop(name2,axis=1,inplace=True)
    if(name3 in df):
        if(('new_'+str(i)) in df):
            df['new_'+i] = df['new_'+i] + df[name3]
            df.drop(name3,axis=1,inplace=True)
        else:
            df['new_'+i] = df[name3]
            df.drop(name3,axis=1,inplace=True)

## let's look at dataset

In [517]:
df.head()

,Name of the movie,Link,Year released,IMDB rating,Number of reviewers,Censor board rating,Length of the movie,Genre 4,Release date,story summary,...,new_Horror,new_Sport,new_Adventure,new_Crime,new_Western,new_History,new_Film-Noir,new_Comedy,new_Animation,new_Action
0,The Shawshank Redemption,https://www.imdb.com/title/tt0111161/?pf_rd_m=...,1994,9.3,"2,041,643",A,2h22min,NaN,14October1994(USA),Two imprisoned men bond over a number of years...,...,0,0,0,0,0,0,0,0,0,0
1,The Godfather,https://www.imdb.com/title/tt0068646/?pf_rd_m=...,1972,9.2,"1,400,266",A,2h55min,NaN,24March1972(USA),The aging patriarch of an organized crime dyna...,...,0,0,0,1,0,0,0,0,0,0
2,The Godfather: Part II,https://www.imdb.com/title/tt0071562/?pf_rd_m=...,1974,9.0,"970,681",NaN,3h22min,NaN,20December1974(USA),The early life and career of Vito Corleone in ...,...,0,0,0,1,0,0,0,0,0,0
3,The Dark Knight,https://www.imdb.com/title/tt0468569/?pf_rd_m=...,2008,9.0,"2,009,174",UA,2h32min,NaN,18July2008(India),When the menace known as the Joker emerges fro...,...,0,0,0,1,0,0,0,0,0,1
4,12 Angry Men,https://www.imdb.com/title/tt0050083/?pf_rd_m=...,1957,8.9,"574,770",NaN,1h36min,NaN,10April1957(USA),A jury holdout attempts to prevent a miscarria...,...,0,0,0,0,0,0,0,0,0,0

## Smooth. Let's confirm with column names

In [519]:
df.columns

Index(['Name of the movie', 'Link', 'Year released', 'IMDB rating',
       'Number of reviewers', 'Censor board rating', 'Length of the movie',
       'Genre 4', 'Release date', 'story summary', 'Director Name', 'Writer 1',
       'Writer 2', 'Writer 3', 'Star 1', 'Star 2', 'Star 3', 'Star 4',
       'Star 5', 'Plot Keywords list', 'Budget', 'Gross USA',
       'Cumulative worlwide Gross', 'Production company', 'new_Musical',
       'new_Music', 'new_Romance', 'new_Family', 'new_Thriller', 'new_War',
       'new_Fantasy', 'new_Mystery', 'new_Sci-Fi', 'new_Drama',
       'new_Biography', 'new_Horror', 'new_Sport', 'new_Adventure',
       'new_Crime', 'new_Western', 'new_History', 'new_Film-Noir',
       'new_Comedy', 'new_Animation', 'new_Action'],
      dtype='object')

## Yess, we now only have one genre type present. Let's just see how new_Drama looks

In [521]:
df['new_Drama']

0      1
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      0
9      1
10     1
11     1
12     0
13     0
14     1
15     1
16     1
17     0
18     1
19     1
20     1
21     0
22     1
23     1
24     1
25     0
26     0
27     0
28     1
29     1
      ..
220    0
221    1
222    0
223    1
224    0
225    1
226    1
227    1
228    1
229    0
230    0
231    1
232    1
233    1
234    1
235    1
236    1
237    1
238    1
239    1
240    1
241    1
242    1
243    0
244    1
245    1
246    1
247    1
248    0
249    0
Name: new_Drama, Length: 250, dtype: uint8

In [522]:
# Awesome.

In [523]:
# Let's clean Budget, Cumulative worldwide earning and Gross USA

In [524]:
df['Budget'].head()

0     $25,000,000 (estimated)
1      $6,000,000 (estimated)
2     $13,000,000 (estimated)
3    $185,000,000 (estimated)
4        $350,000 (estimated)
Name: Budget, dtype: object

In [525]:
# we can use regex to replace "(estimates)", "$",","

In [526]:
df['Budget'] = df['Budget'].str.replace(r'\([a-z]*\)','')

In [527]:
df['Budget'].head()

0     $25,000,000
1      $6,000,000
2     $13,000,000
3    $185,000,000
4        $350,000
Name: Budget, dtype: object

In [528]:
# Cool, we don't have irritating "(estimated)" now. Let's remove '$' and ',' respectively

In [529]:
df['Budget'] = df['Budget'].str.replace('$','')
df['Budget'] = df['Budget'].str.replace(',','')

In [530]:
df['Budget']

0             25000000
1              6000000
2             13000000
3            185000000
4               350000
5             22000000
6             94000000
7              8000000
8              1200000
9             63000000
10            93000000
11            55000000
12            18000000
13           160000000
14            94000000
15             4400000
16            25000000
17            63000000
18             2000000
19            33000000
20             3300000
21            11000000
22            19000000
23             3180000
24            20000000
25            90000000
26             6000000
27            19000000
28            70000000
29       FRF 115000000
             ...
220          115000000
221             800000
222             375000
223           16400000
224            6400000
225                  NaN
226           22000000
227                  NaN
228           €2590000
229           14600000
230            2800000
231                  NaN
232                  NaN
233            8000000
234           25000000
235            €650000
236    KRW 10000000000
237                  NaN
238            2700000
239            9400000
240            2500000
241           £1162000
242                  NaN
243      INR 184000000
244            2100000
245                  NaN
246            6000000
247            6000000
248          170000000
249          140000000
Name: Budget, Length: 250, dtype: object

## So we have few other currency sign as well. It'll be great if we convert them to dollars. But let's just ignore the currency and just remove them. We can easily convert them later

In [532]:
df['Budget'] = df['Budget'].str.replace(r'[A-Z]*','')
df['Budget'] = df['Budget'].str.replace('£','')
df['Budget'] = df['Budget'].str.replace('€','')

In [533]:
df['Budget']

0          25000000
1           6000000
2          13000000
3         185000000
4            350000
5          22000000
6          94000000
7           8000000
8           1200000
9          63000000
10         93000000
11         55000000
12         18000000
13        160000000
14         94000000
15          4400000
16         25000000
17         63000000
18          2000000
19         33000000
20          3300000
21         11000000
22         19000000
23          3180000
24         20000000
25         90000000
26          6000000
27         19000000
28         70000000
29        115000000
            ...
220       115000000
221          800000
222          375000
223        16400000
224         6400000
225               NaN
226        22000000
227               NaN
228         2590000
229        14600000
230         2800000
231               NaN
232               NaN
233         8000000
234        25000000
235          650000
236     10000000000
237               NaN
238         2700000
239         9400000
240         2500000
241         1162000
242               NaN
243       184000000
244         2100000
245               NaN
246         6000000
247         6000000
248       170000000
249       140000000
Name: Budget, Length: 250, dtype: object

## Smoooth. Let's deal with null values now. As observed from above, we have 27 null values. We could have dropped this rows. But they mab=y contain some other important features. So let's replace it with median of budget values

In [535]:
budget = df['Budget'].dropna()

In [536]:
# to calculate mean, median, std, etc.
budget = budget.astype(int)

In [537]:
b_median = budget.median()

In [538]:
df['Budget'] = df['Budget'].fillna(b_median)

In [539]:
df['Budget'].isna().sum()

0

In [540]:
# Cool, no null values
# We will use the same method to clean Gross USA and Cumulative wordwide Gross. Let's quickly clean them

In [541]:
df['Gross USA'].head(15)

0                     $28,341,469
1          $134,966,411,11May1997
2                     $57,300,000
3         $534,858,444,19July2012
4                      $4,360,000
5                     $96,067,179
6         $377,845,905,28June2011
7                    $107,928,762
8                      $6,100,000
9                     $37,030,102
10        $315,544,750,14June2011
11                   $330,252,182
12    $290,475,067,31December1997
13      $292,576,195,6January2011
14        $342,551,365,21June2011
Name: Gross USA, dtype: object

In [542]:
df['Gross USA']= df['Gross USA'].str.replace(r'[0-9][0-9][A-Z]*[a-z]*[0-9][0-9][0-9][0-9]', '')
df['Gross USA']= df['Gross USA'].str.replace(r'[0-9][A-Z]*[a-z]*[0-9][0-9][0-9][0-9]', '')
df['Gross USA'] = df['Gross USA'].str.replace('$','')
df['Gross USA'] = df['Gross USA'].str.replace(',','')

In [543]:
# let's look at the cleaned data
df['Gross USA'].head(20)

0      28341469
1     134966411
2      57300000
3     534858444
4       4360000
5      96067179
6     377845905
7     107928762
8       6100000
9      37030102
10    315544750
11    330252182
12    290475067
13    292576195
14    342551365
15    112000000
16     46836394
17    171479930
18       269061
19    100125643
Name: Gross USA, dtype: object

In [544]:
# Smooth. LEt's deal with null values

In [545]:
g_gross = df['Gross USA'].dropna()

In [546]:
g_gross = g_gross.astype(int)

In [547]:
g_median = g_gross.median()
df['Gross USA'] = df['Gross USA'].fillna(g_median)

In [548]:
df['Cumulative worlwide Gross'].head(15)

0                          $58,500,000
1                         $245,066,411
2                                  NaN
3         $1,004,558,444, 19 July 2012
4                                  NaN
5                         $221,000,000
6     $1,119,929,521, 25 November 2011
7                         $213,928,762
8                                  NaN
9                          $71,000,000
10      $871,530,324, 25 November 2011
11                        $677,945,399
12                        $247,916,602
13        $825,532,764, 6 January 2011
14      $926,047,111, 25 November 2011
Name: Cumulative worlwide Gross, dtype: object

In [549]:
df['Cumulative worlwide Gross']= df['Cumulative worlwide Gross'].str.replace(r'[0-9][0-9]\ [A-Z]*[a-z]*\ [0-9][0-9][0-9][0-9]', '')
df['Cumulative worlwide Gross']= df['Cumulative worlwide Gross'].str.replace(r'[0-9]\ [A-Z]*[a-z]*\ [0-9][0-9][0-9][0-9]', '')
df['Cumulative worlwide Gross']= df['Cumulative worlwide Gross'].str.replace('$', '')
df['Cumulative worlwide Gross']= df['Cumulative worlwide Gross'].str.replace(',', '')

In [550]:
df['Cumulative worlwide Gross'].head(15)

0        58500000
1       245066411
2             NaN
3     1004558444
4             NaN
5       221000000
6     1119929521
7       213928762
8             NaN
9        71000000
10     871530324
11      677945399
12      247916602
13     825532764
14     926047111
Name: Cumulative worlwide Gross, dtype: object

In [551]:
c_cumu = df['Cumulative worlwide Gross'].dropna()

In [552]:
c_cumu = c_cumu.astype(int)
c_median = c_cumu.median()
df['Cumulative worlwide Gross'] = df['Cumulative worlwide Gross'].fillna(c_median)

In [581]:
# let's now remove commas from Number of reviwers
df['Number of reviewers'] = df['Number of reviewers'].str.replace(',','')

In [341]:
# Hooray, done with cleaning. Let's just clean Length of the movie. And we will be done

In [561]:
df['Length of the movie']= df['Length of the movie'].str.replace('1h[0-9][0-9]min', '1h')
df['Length of the movie']= df['Length of the movie'].str.replace('1h[0-9]min', '1h')
df['Length of the movie']= df['Length of the movie'].str.replace('2h[0-9][0-9]min', '2h')
df['Length of the movie']= df['Length of the movie'].str.replace('2h[0-9]min', '2h')
df['Length of the movie']= df['Length of the movie'].str.replace('3h[0-9][0-9]min', '3h')
df['Length of the movie']= df['Length of the movie'].str.replace('3h[0-9]min', '3h')
df['Length of the movie']= df['Length of the movie'].str.replace('4h[0-9][0-9]min', '4h')
df['Length of the movie']= df['Length of the movie'].str.replace('4h[0-9]min', '4h')
df['Length of the movie']= df['Length of the movie'].str.replace('5h[0-9][0-9]min', '5h')
df['Length of the movie']= df['Length of the movie'].str.replace('5h[0-9]min', '5h')

In [563]:
df['Length of the movie'].value_counts()

2h       129
1h       102
3h        17
5h         1
45min      1
Name: Length of the movie, dtype: int64

In [565]:
df['Length of the movie']= df['Length of the movie'].str.replace('45min', '1h')

In [566]:
df['Length of the movie'].value_counts()

2h    129
1h    103
3h     17
5h      1
Name: Length of the movie, dtype: int64

## Awesome, let's use one-hot-encoding now

In [571]:
df = pd.get_dummies(df, columns=["Length of the movie"], prefix=["len"])
df = pd.get_dummies(df, columns=["Censor board rating"], prefix=["censor"])

## That's it. We have done lots of cleaning. Let's look at the columns and separate the features and output now

In [572]:
df.columns

Index(['Name of the movie', 'Link', 'Year released', 'IMDB rating',
       'Number of reviewers', 'Genre 4', 'Release date', 'story summary',
       'Director Name', 'Writer 1', 'Writer 2', 'Writer 3', 'Star 1', 'Star 2',
       'Star 3', 'Star 4', 'Star 5', 'Plot Keywords list', 'Budget',
       'Gross USA', 'Cumulative worlwide Gross', 'Production company',
       'new_Musical', 'new_Music', 'new_Romance', 'new_Family', 'new_Thriller',
       'new_War', 'new_Fantasy', 'new_Mystery', 'new_Sci-Fi', 'new_Drama',
       'new_Biography', 'new_Horror', 'new_Sport', 'new_Adventure',
       'new_Crime', 'new_Western', 'new_History', 'new_Film-Noir',
       'new_Comedy', 'new_Animation', 'new_Action', 'len_1h', 'len_2h',
       'len_3h', 'len_5h', 'censor_(Banned)', 'censor_A', 'censor_G',
       'censor_PG', 'censor_PG-13', 'censor_R', 'censor_U', 'censor_UA'],
      dtype='object')

In [574]:
features = ['Year released','Number of reviewers', 'Budget',
       'Gross USA', 'Cumulative worlwide Gross',
       'new_Musical', 'new_Music', 'new_Romance', 'new_Family', 'new_Thriller',
       'new_War', 'new_Fantasy', 'new_Mystery', 'new_Sci-Fi', 'new_Drama',
       'new_Biography', 'new_Horror', 'new_Sport', 'new_Adventure',
       'new_Crime', 'new_Western', 'new_History', 'new_Film-Noir',
       'new_Comedy', 'new_Animation', 'new_Action', 'len_1h', 'len_2h',
       'len_3h', 'len_5h', 'censor_(Banned)', 'censor_A', 'censor_G',
       'censor_PG', 'censor_PG-13', 'censor_R', 'censor_U', 'censor_UA']
target = 'IMDB rating'

In [582]:
df_1 = df[features]

## Let's look at our required dataframe

In [584]:
df_1.head()

,Year released,Number of reviewers,Budget,Gross USA,Cumulative worlwide Gross,new_Musical,new_Music,new_Romance,new_Family,new_Thriller,...,len_3h,len_5h,censor_(Banned),censor_A,censor_G,censor_PG,censor_PG-13,censor_R,censor_U,censor_UA
0,1994,2041643,25000000,28341469,58500000,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,1972,1400266,6000000,134966411,245066411,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,1974,970681,13000000,57300000,1.71627e+08,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,2008,2009174,185000000,534858444,1004558444,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1957,574770,350000,4360000,1.71627e+08,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [585]:
df_1.dtypes

Year released                 int64
Number of reviewers          object
Budget                       object
Gross USA                    object
Cumulative worlwide Gross    object
new_Musical                   uint8
new_Music                     uint8
new_Romance                   uint8
new_Family                    uint8
new_Thriller                  uint8
new_War                       uint8
new_Fantasy                   uint8
new_Mystery                   uint8
new_Sci-Fi                    uint8
new_Drama                     uint8
new_Biography                 uint8
new_Horror                    uint8
new_Sport                     uint8
new_Adventure                 uint8
new_Crime                     uint8
new_Western                   uint8
new_History                   uint8
new_Film-Noir                 uint8
new_Comedy                    uint8
new_Animation                 uint8
new_Action                    uint8
len_1h                        uint8
len_2h                        uint8
len_3h                        uint8
len_5h                        uint8
censor_(Banned)               uint8
censor_A                      uint8
censor_G                      uint8
censor_PG                     uint8
censor_PG-13                  uint8
censor_R                      uint8
censor_U                      uint8
censor_UA                     uint8
dtype: object

### Converting no. of reviewers, budget, gross usa, cumulative... into int

In [586]:
df_1['Number of reviewers'] = df_1['Number of reviewers'] .astype(int)
df_1['Budget']  = df_1['Budget'].astype(int)
df_1['Gross USA'] = df_1['Gross USA'].astype(int)
df_1['Cumulative worlwide Gross'] = df_1['Cumulative worlwide Gross'].astype(int)

/home/vikash/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/vikash/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/vikash/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/vikash/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [587]:
df_1.dtypes

Year released                int64
Number of reviewers          int64
Budget                       int64
Gross USA                    int64
Cumulative worlwide Gross    int64
new_Musical                  uint8
new_Music                    uint8
new_Romance                  uint8
new_Family                   uint8
new_Thriller                 uint8
new_War                      uint8
new_Fantasy                  uint8
new_Mystery                  uint8
new_Sci-Fi                   uint8
new_Drama                    uint8
new_Biography                uint8
new_Horror                   uint8
new_Sport                    uint8
new_Adventure                uint8
new_Crime                    uint8
new_Western                  uint8
new_History                  uint8
new_Film-Noir                uint8
new_Comedy                   uint8
new_Animation                uint8
new_Action                   uint8
len_1h                       uint8
len_2h                       uint8
len_3h                       uint8
len_5h                       uint8
censor_(Banned)              uint8
censor_A                     uint8
censor_G                     uint8
censor_PG                    uint8
censor_PG-13                 uint8
censor_R                     uint8
censor_U                     uint8
censor_UA                    uint8
dtype: object

In [588]:
output = df[target]

In [589]:
output.head()

0    9.3
1    9.2
2    9.0
3    9.0
4    8.9
Name: IMDB rating, dtype: float64

# PHASE 3: TRAINING MODEL

## We have done with data cleaning and all. Let's train machine learning model now
## To do: 
        1. Linear Regression with scikit
        2. Use keras to train a linear neural network

In [593]:
# Splitting dataset as train - 70%, test- 15%, validation - 15$
Xtrain, Xtest_val,Ytrain, Ytest_val = train_test_split(df_1, output, test_size = 0.3, random_state=2)
Xtest, Xval,Ytest, Yval = train_test_split(Xtrain, Ytrain, test_size = 0.5, random_state=2)

In [595]:
print('train set',Xtrain.shape)
print('test set',Xtest.shape)
print('validation set',Xval.shape)

train set (175, 38)
test set (87, 38)
validation set (88, 38)

In [596]:
# Ok, so we have 38 features
# Let's now Normalize the dataset

In [597]:
scaler = MinMaxScaler()
scaler.fit(Xtrain)
X_train = scaler.transform(Xtrain) 
X_test = scaler.transform(Xtest)
X_val = scaler.transform(Xval)
Y_test = Ytest
Y_val = Yval
Y_train = Ytrain

/home/vikash/anaconda3/lib/python3.5/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [676]:
# Let's train a normal Linear Regression on our data set
reg = LinearRegression().fit(X_train, Y_train)

In [677]:
Ytest_predict = reg.predict(X_test)

In [678]:
def mean_absolute_percentage_error(y_true, y_pred): 
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [679]:
reg_test_mape = mean_absolute_percentage_error(Y_test,Ytest_predict)

In [680]:
reg_test_mape

1.2157057502504958

In [681]:
Yval_predict = reg.predict(X_val)

In [682]:
reg_val_mape = mean_absolute_percentage_error(Y_val,Yval_predict)

In [683]:
reg_val_mape

1.2019220450323986

# Inference : We got 1.2% error in our test and validation dataset. There's no overfittig condition here, so we can omit L1 or L2 regularization

In [659]:
# Lasso regression can be applied, but we only get increase in error. So I've commented this code section
# reg1 = Lasso(0.01)
# reg1.fit(X_train,Y_train)
# Ytest_predict = reg1.predict(X_test)
# mape2 = mean_absolute_percentage_error(Y_test,Ytest_predict)
# print (mape2)

### I'm a great supporter of Deep Learning. Although we have very few dataset in our training example, let's train a simple neural network using keras. 
### I'm exited to see if neural net can out perform normal linear regression

In [642]:
model = Sequential()
model.add(Dense(16, input_dim = 38, kernel_initializer='normal', activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='linear'))
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 16)                624
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 136
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 9
=================================================================
Total params: 769
Trainable params: 769
Non-trainable params: 0
_________________________________________________________________

In [666]:
model.compile(loss='mape', optimizer='adam', metrics=['mape'])

In [667]:
history = model.fit(X_train, Y_train, batch_size = 10, epochs = 100, 
         validation_data = (X_val, Y_val), verbose = 2)

Train on 175 samples, validate on 88 samples
Epoch 1/100
 - 0s - loss: 0.9193 - mean_absolute_percentage_error: 0.9193 - val_loss: 0.8001 - val_mean_absolute_percentage_error: 0.8001
Epoch 2/100
 - 0s - loss: 0.8772 - mean_absolute_percentage_error: 0.8772 - val_loss: 0.7159 - val_mean_absolute_percentage_error: 0.7159
Epoch 3/100
 - 0s - loss: 0.8604 - mean_absolute_percentage_error: 0.8604 - val_loss: 0.6757 - val_mean_absolute_percentage_error: 0.6757
Epoch 4/100
 - 0s - loss: 0.8559 - mean_absolute_percentage_error: 0.8559 - val_loss: 0.8429 - val_mean_absolute_percentage_error: 0.8429
Epoch 5/100
 - 0s - loss: 0.9263 - mean_absolute_percentage_error: 0.9263 - val_loss: 0.8074 - val_mean_absolute_percentage_error: 0.8074
Epoch 6/100
 - 0s - loss: 0.8435 - mean_absolute_percentage_error: 0.8435 - val_loss: 0.7148 - val_mean_absolute_percentage_error: 0.7148
Epoch 7/100
 - 0s - loss: 0.8226 - mean_absolute_percentage_error: 0.8226 - val_loss: 0.6625 - val_mean_absolute_percentage_error: 0.6625
Epoch 8/100
 - 0s - loss: 0.8591 - mean_absolute_percentage_error: 0.8591 - val_loss: 0.6504 - val_mean_absolute_percentage_error: 0.6504
Epoch 9/100
 - 0s - loss: 0.7858 - mean_absolute_percentage_error: 0.7858 - val_loss: 0.7084 - val_mean_absolute_percentage_error: 0.7084
Epoch 10/100
 - 0s - loss: 0.8270 - mean_absolute_percentage_error: 0.8270 - val_loss: 0.6739 - val_mean_absolute_percentage_error: 0.6739
Epoch 11/100
 - 0s - loss: 0.8571 - mean_absolute_percentage_error: 0.8571 - val_loss: 0.7549 - val_mean_absolute_percentage_error: 0.7549
Epoch 12/100
 - 0s - loss: 0.8231 - mean_absolute_percentage_error: 0.8231 - val_loss: 0.6580 - val_mean_absolute_percentage_error: 0.6580
Epoch 13/100
 - 0s - loss: 0.8075 - mean_absolute_percentage_error: 0.8075 - val_loss: 0.6650 - val_mean_absolute_percentage_error: 0.6650
Epoch 14/100
 - 0s - loss: 0.8267 - mean_absolute_percentage_error: 0.8267 - val_loss: 0.7823 - val_mean_absolute_percentage_error: 0.7823
Epoch 15/100
 - 0s - loss: 0.8961 - mean_absolute_percentage_error: 0.8961 - val_loss: 0.7194 - val_mean_absolute_percentage_error: 0.7194
Epoch 16/100
 - 0s - loss: 0.8334 - mean_absolute_percentage_error: 0.8334 - val_loss: 0.6807 - val_mean_absolute_percentage_error: 0.6807
Epoch 17/100
 - 0s - loss: 0.8054 - mean_absolute_percentage_error: 0.8054 - val_loss: 0.6713 - val_mean_absolute_percentage_error: 0.6713
Epoch 18/100
 - 0s - loss: 0.7987 - mean_absolute_percentage_error: 0.7987 - val_loss: 0.6499 - val_mean_absolute_percentage_error: 0.6499
Epoch 19/100
 - 0s - loss: 0.7896 - mean_absolute_percentage_error: 0.7896 - val_loss: 0.6620 - val_mean_absolute_percentage_error: 0.6620
Epoch 20/100
 - 0s - loss: 0.7915 - mean_absolute_percentage_error: 0.7915 - val_loss: 0.7053 - val_mean_absolute_percentage_error: 0.7053
Epoch 21/100
 - 0s - loss: 0.7795 - mean_absolute_percentage_error: 0.7795 - val_loss: 0.6591 - val_mean_absolute_percentage_error: 0.6591
Epoch 22/100
 - 0s - loss: 0.7962 - mean_absolute_percentage_error: 0.7962 - val_loss: 0.8283 - val_mean_absolute_percentage_error: 0.8283
Epoch 23/100
 - 0s - loss: 0.8763 - mean_absolute_percentage_error: 0.8763 - val_loss: 0.7258 - val_mean_absolute_percentage_error: 0.7258
Epoch 24/100
 - 0s - loss: 0.9192 - mean_absolute_percentage_error: 0.9192 - val_loss: 0.8152 - val_mean_absolute_percentage_error: 0.8152
Epoch 25/100
 - 0s - loss: 0.8479 - mean_absolute_percentage_error: 0.8479 - val_loss: 0.6502 - val_mean_absolute_percentage_error: 0.6502
Epoch 26/100
 - 0s - loss: 0.8082 - mean_absolute_percentage_error: 0.8082 - val_loss: 0.6916 - val_mean_absolute_percentage_error: 0.6916
Epoch 27/100
 - 0s - loss: 0.7930 - mean_absolute_percentage_error: 0.7930 - val_loss: 0.6947 - val_mean_absolute_percentage_error: 0.6947
Epoch 28/100
 - 0s - loss: 0.7486 - mean_absolute_percentage_error: 0.7486 - val_loss: 0.6699 - val_mean_absolute_percentage_error: 0.6699
Epoch 29/100
 - 0s - loss: 0.8029 - mean_absolute_percentage_error: 0.8029 - val_loss: 0.6825 - val_mean_absolute_percentage_error: 0.6825
Epoch 30/100
 - 0s - loss: 0.8013 - mean_absolute_percentage_error: 0.8013 - val_loss: 0.6466 - val_mean_absolute_percentage_error: 0.6466
Epoch 31/100
 - 0s - loss: 0.8005 - mean_absolute_percentage_error: 0.8005 - val_loss: 0.6831 - val_mean_absolute_percentage_error: 0.6831
Epoch 32/100
 - 0s - loss: 0.7803 - mean_absolute_percentage_error: 0.7803 - val_loss: 0.6377 - val_mean_absolute_percentage_error: 0.6377
Epoch 33/100
 - 0s - loss: 0.7704 - mean_absolute_percentage_error: 0.7704 - val_loss: 0.6764 - val_mean_absolute_percentage_error: 0.6764
Epoch 34/100
 - 0s - loss: 0.8215 - mean_absolute_percentage_error: 0.8215 - val_loss: 0.6660 - val_mean_absolute_percentage_error: 0.6660
Epoch 35/100
 - 0s - loss: 0.7852 - mean_absolute_percentage_error: 0.7852 - val_loss: 0.7379 - val_mean_absolute_percentage_error: 0.7379
Epoch 36/100
 - 0s - loss: 0.8012 - mean_absolute_percentage_error: 0.8012 - val_loss: 0.6612 - val_mean_absolute_percentage_error: 0.6612
Epoch 37/100
 - 0s - loss: 0.8305 - mean_absolute_percentage_error: 0.8305 - val_loss: 0.7158 - val_mean_absolute_percentage_error: 0.7158
Epoch 38/100
 - 0s - loss: 0.7856 - mean_absolute_percentage_error: 0.7856 - val_loss: 0.6910 - val_mean_absolute_percentage_error: 0.6910
Epoch 39/100
 - 0s - loss: 0.7840 - mean_absolute_percentage_error: 0.7840 - val_loss: 0.6387 - val_mean_absolute_percentage_error: 0.6387
Epoch 40/100
 - 0s - loss: 0.8350 - mean_absolute_percentage_error: 0.8350 - val_loss: 0.6752 - val_mean_absolute_percentage_error: 0.6752
Epoch 41/100
 - 0s - loss: 0.7773 - mean_absolute_percentage_error: 0.7773 - val_loss: 0.6258 - val_mean_absolute_percentage_error: 0.6258
Epoch 42/100
 - 0s - loss: 0.7410 - mean_absolute_percentage_error: 0.7410 - val_loss: 0.6300 - val_mean_absolute_percentage_error: 0.6300
Epoch 43/100
 - 0s - loss: 0.7954 - mean_absolute_percentage_error: 0.7954 - val_loss: 0.6567 - val_mean_absolute_percentage_error: 0.6567
Epoch 44/100
 - 0s - loss: 0.8004 - mean_absolute_percentage_error: 0.8004 - val_loss: 0.7051 - val_mean_absolute_percentage_error: 0.7051
Epoch 45/100
 - 0s - loss: 0.9646 - mean_absolute_percentage_error: 0.9646 - val_loss: 0.9299 - val_mean_absolute_percentage_error: 0.9299
Epoch 46/100
 - 0s - loss: 0.9297 - mean_absolute_percentage_error: 0.9297 - val_loss: 0.7006 - val_mean_absolute_percentage_error: 0.7006
Epoch 47/100
 - 0s - loss: 0.7985 - mean_absolute_percentage_error: 0.7985 - val_loss: 0.6617 - val_mean_absolute_percentage_error: 0.6617
Epoch 48/100
 - 0s - loss: 0.7674 - mean_absolute_percentage_error: 0.7674 - val_loss: 0.7047 - val_mean_absolute_percentage_error: 0.7047
Epoch 49/100
 - 0s - loss: 0.8695 - mean_absolute_percentage_error: 0.8695 - val_loss: 0.8047 - val_mean_absolute_percentage_error: 0.8047
Epoch 50/100
 - 0s - loss: 0.9010 - mean_absolute_percentage_error: 0.9010 - val_loss: 0.7101 - val_mean_absolute_percentage_error: 0.7101
Epoch 51/100
 - 0s - loss: 0.8503 - mean_absolute_percentage_error: 0.8503 - val_loss: 0.6820 - val_mean_absolute_percentage_error: 0.6820
Epoch 52/100
 - 0s - loss: 0.7932 - mean_absolute_percentage_error: 0.7932 - val_loss: 0.6466 - val_mean_absolute_percentage_error: 0.6466
Epoch 53/100
 - 0s - loss: 0.7728 - mean_absolute_percentage_error: 0.7728 - val_loss: 0.7884 - val_mean_absolute_percentage_error: 0.7884
Epoch 54/100
 - 0s - loss: 0.8105 - mean_absolute_percentage_error: 0.8105 - val_loss: 0.6551 - val_mean_absolute_percentage_error: 0.6551
Epoch 55/100
 - 0s - loss: 0.8119 - mean_absolute_percentage_error: 0.8119 - val_loss: 0.7645 - val_mean_absolute_percentage_error: 0.7645
Epoch 56/100
 - 0s - loss: 0.7839 - mean_absolute_percentage_error: 0.7839 - val_loss: 0.6337 - val_mean_absolute_percentage_error: 0.6337
Epoch 57/100
 - 0s - loss: 0.7538 - mean_absolute_percentage_error: 0.7538 - val_loss: 0.6505 - val_mean_absolute_percentage_error: 0.6505
Epoch 58/100
 - 0s - loss: 0.7555 - mean_absolute_percentage_error: 0.7555 - val_loss: 0.6106 - val_mean_absolute_percentage_error: 0.6106
Epoch 59/100
 - 0s - loss: 0.7761 - mean_absolute_percentage_error: 0.7761 - val_loss: 0.6657 - val_mean_absolute_percentage_error: 0.6657

Epoch 60/100
 - 0s - loss: 0.7208 - mean_absolute_percentage_error: 0.7208 - val_loss: 0.6759 - val_mean_absolute_percentage_error: 0.6759
Epoch 61/100
 - 0s - loss: 0.7130 - mean_absolute_percentage_error: 0.7130 - val_loss: 0.6452 - val_mean_absolute_percentage_error: 0.6452
Epoch 62/100
 - 0s - loss: 0.7308 - mean_absolute_percentage_error: 0.7308 - val_loss: 0.8079 - val_mean_absolute_percentage_error: 0.8079
Epoch 63/100
 - 0s - loss: 0.8197 - mean_absolute_percentage_error: 0.8197 - val_loss: 0.6773 - val_mean_absolute_percentage_error: 0.6773
Epoch 64/100
 - 0s - loss: 0.7278 - mean_absolute_percentage_error: 0.7278 - val_loss: 0.6369 - val_mean_absolute_percentage_error: 0.6369
Epoch 65/100
 - 0s - loss: 0.7393 - mean_absolute_percentage_error: 0.7393 - val_loss: 0.7062 - val_mean_absolute_percentage_error: 0.7062
Epoch 66/100
 - 0s - loss: 0.7990 - mean_absolute_percentage_error: 0.7990 - val_loss: 0.6722 - val_mean_absolute_percentage_error: 0.6722
Epoch 67/100
 - 0s - loss: 0.7720 - mean_absolute_percentage_error: 0.7720 - val_loss: 0.7455 - val_mean_absolute_percentage_error: 0.7455
Epoch 68/100
 - 0s - loss: 0.7908 - mean_absolute_percentage_error: 0.7908 - val_loss: 0.6030 - val_mean_absolute_percentage_error: 0.6030
Epoch 69/100
 - 0s - loss: 0.7341 - mean_absolute_percentage_error: 0.7341 - val_loss: 0.6380 - val_mean_absolute_percentage_error: 0.6380
Epoch 70/100
 - 0s - loss: 0.7232 - mean_absolute_percentage_error: 0.7232 - val_loss: 0.5930 - val_mean_absolute_percentage_error: 0.5930
Epoch 71/100
 - 0s - loss: 0.7673 - mean_absolute_percentage_error: 0.7673 - val_loss: 0.6928 - val_mean_absolute_percentage_error: 0.6928
Epoch 72/100
 - 0s - loss: 0.8145 - mean_absolute_percentage_error: 0.8145 - val_loss: 0.6198 - val_mean_absolute_percentage_error: 0.6198
Epoch 73/100
 - 0s - loss: 0.7392 - mean_absolute_percentage_error: 0.7392 - val_loss: 0.6100 - val_mean_absolute_percentage_error: 0.6100
Epoch 74/100
 - 0s - loss: 0.7444 - mean_absolute_percentage_error: 0.7444 - val_loss: 0.6817 - val_mean_absolute_percentage_error: 0.6817
Epoch 75/100
 - 0s - loss: 0.7641 - mean_absolute_percentage_error: 0.7641 - val_loss: 0.6622 - val_mean_absolute_percentage_error: 0.6622
Epoch 76/100
 - 0s - loss: 0.7618 - mean_absolute_percentage_error: 0.7618 - val_loss: 0.6638 - val_mean_absolute_percentage_error: 0.6638
Epoch 77/100
 - 0s - loss: 0.6934 - mean_absolute_percentage_error: 0.6934 - val_loss: 0.6592 - val_mean_absolute_percentage_error: 0.6592
Epoch 78/100
 - 0s - loss: 0.7240 - mean_absolute_percentage_error: 0.7240 - val_loss: 0.6145 - val_mean_absolute_percentage_error: 0.6145
Epoch 79/100
 - 0s - loss: 0.7300 - mean_absolute_percentage_error: 0.7300 - val_loss: 0.6631 - val_mean_absolute_percentage_error: 0.6631
Epoch 80/100
 - 0s - loss: 0.7512 - mean_absolute_percentage_error: 0.7512 - val_loss: 0.6301 - val_mean_absolute_percentage_error: 0.6301
Epoch 81/100
 - 0s - loss: 0.7790 - mean_absolute_percentage_error: 0.7790 - val_loss: 0.5924 - val_mean_absolute_percentage_error: 0.5924
Epoch 82/100
 - 0s - loss: 0.7550 - mean_absolute_percentage_error: 0.7550 - val_loss: 0.6595 - val_mean_absolute_percentage_error: 0.6595
Epoch 83/100
 - 0s - loss: 0.7677 - mean_absolute_percentage_error: 0.7677 - val_loss: 0.6476 - val_mean_absolute_percentage_error: 0.6476
Epoch 84/100
 - 0s - loss: 0.7197 - mean_absolute_percentage_error: 0.7197 - val_loss: 0.7559 - val_mean_absolute_percentage_error: 0.7559
Epoch 85/100
 - 0s - loss: 0.7274 - mean_absolute_percentage_error: 0.7274 - val_loss: 0.6373 - val_mean_absolute_percentage_error: 0.6373
Epoch 86/100
 - 0s - loss: 0.7143 - mean_absolute_percentage_error: 0.7143 - val_loss: 0.6651 - val_mean_absolute_percentage_error: 0.6651
Epoch 87/100
 - 0s - loss: 0.7156 - mean_absolute_percentage_error: 0.7156 - val_loss: 0.6361 - val_mean_absolute_percentage_error: 0.6361
Epoch 88/100
 - 0s - loss: 0.7243 - mean_absolute_percentage_error: 0.7243 - val_loss: 0.6757 - val_mean_absolute_percentage_error: 0.6757
Epoch 89/100
 - 0s - loss: 0.7020 - mean_absolute_percentage_error: 0.7020 - val_loss: 0.7236 - val_mean_absolute_percentage_error: 0.7236
Epoch 90/100
 - 0s - loss: 0.7389 - mean_absolute_percentage_error: 0.7389 - val_loss: 0.6555 - val_mean_absolute_percentage_error: 0.6555
Epoch 91/100
 - 0s - loss: 0.7420 - mean_absolute_percentage_error: 0.7420 - val_loss: 0.6033 - val_mean_absolute_percentage_error: 0.6033
Epoch 92/100
 - 0s - loss: 0.7135 - mean_absolute_percentage_error: 0.7135 - val_loss: 0.6070 - val_mean_absolute_percentage_error: 0.6070
Epoch 93/100
 - 0s - loss: 0.7302 - mean_absolute_percentage_error: 0.7302 - val_loss: 0.6523 - val_mean_absolute_percentage_error: 0.6523
Epoch 94/100
 - 0s - loss: 0.8366 - mean_absolute_percentage_error: 0.8366 - val_loss: 0.6758 - val_mean_absolute_percentage_error: 0.6758
Epoch 95/100
 - 0s - loss: 0.7215 - mean_absolute_percentage_error: 0.7215 - val_loss: 0.6017 - val_mean_absolute_percentage_error: 0.6017
Epoch 96/100
 - 0s - loss: 0.7651 - mean_absolute_percentage_error: 0.7651 - val_loss: 0.6264 - val_mean_absolute_percentage_error: 0.6264
Epoch 97/100
 - 0s - loss: 0.7332 - mean_absolute_percentage_error: 0.7332 - val_loss: 0.6161 - val_mean_absolute_percentage_error: 0.6161
Epoch 98/100
 - 0s - loss: 0.7580 - mean_absolute_percentage_error: 0.7580 - val_loss: 0.9105 - val_mean_absolute_percentage_error: 0.9105
Epoch 99/100
 - 0s - loss: 0.7959 - mean_absolute_percentage_error: 0.7959 - val_loss: 0.8394 - val_mean_absolute_percentage_error: 0.8394
Epoch 100/100
 - 0s - loss: 0.8446 - mean_absolute_percentage_error: 0.8446 - val_loss: 0.6268 - val_mean_absolute_percentage_error: 0.6268

In [668]:
results = model.predict(X_test)

In [671]:
val_mapes = history.history['val_loss']

In [684]:
nn_val_mape = val_mape[-1]

In [685]:
nn_val_mape

0.6268240294673226

## Woah! That's a drastic decrease in error. 0.62%, whereas error in linear regression was 1.2%
### Thus, NN helped us decrease error by almost 50%
### Further training in NN may decrease error further.

# PHASE 4 : Conclusion-
IMdb rating could be predicted with the given features. Although to check the correctness of the model, we may need more and more data. Also, many features like story-summary, director name, writers name, etc. could be used to improve the model.
# TO DO:
1. USE NLP or some appropriate methods to generate information from story_summary, director's name, writer's name, stars, plot keywords etc.
2. Improve our model using different coefficients, loss measure, or hyperparameter tuning